.sign-up-wrapper {
  width: 100%;
}

.signUp {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signUp form {
  margin-top: 80px;
}

.signUp h2 {
  font-size: 2.3em;
  margin-bottom: 20px;
  text-align: center;
}

.signUp label {
  font-size: 1.7em;
}

.signUp .form-control {
  font-size: 2em;
  padding: 5px;
}

.signUp .form-field {
  margin-bottom: 20px;
}

.signUp button {
  font-size: 1.5em;
  width: 312px;
  padding: 10px 0;
  background-color: yellowgreen;
}
