.list-overflow-container {
  max-height: 545px;
  border: 1px black solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  padding-top: 0;
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li a {
  cursor: pointer;
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group-item a {
  cursor: pointer;
  color: #2A878C;
}

button {
  float: right;
  border-radius: 2px;
}

.btn-clear {
  background-color: Crimson;
  color: white;
  border-radius: 5px;
  margin: 5px 10px 5px 5px;
  height: 30px;
  line-height: 10px;
  border: 1px dotted white;
}

.btn-clear:hover {
  background-color: Red; 
}

.btn-alert {
  background-color: Coral;
  color: white
}

.btn-alert:hover {
  background-color: Tomato; 
}