.landing-page-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-intro-wrapper {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}
