.panel-heading {
	background-color: Orange!important;
	border-bottom: 1px solid #2c3e50!important;
}

.panel, .list-group-item {
	border: 1px solid #2c3e50!important;
}

.pull-right button.btn{
 border: 1px dotted black;
 background-color: LightGrey!important
}

.pull-right button.btn:hover {
  background-color: Silver!important; 
}

input {
	font-family: Chalkboard, ‘Comic Sans’, sans-serif;
	font-size: 1.5em!important;
	font-weight: bold!important;
	padding-left: 6px!important;
	padding-top: 1px!important;
	padding-bottom: 1px!important;
	color: #2c3e50!important;
	opacity: 0.75!important;
}