.landingIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  background: #fff;
  padding: 60px;
  border-radius: 30px;
}

.landingIntro h3 {
  font-size: 2em;
}

.landingIntro label {
  font-size: 1.4em;
}

.landingIntro input {
  font-size: 1.8em;
  padding: 8px;
}

.landingIntro button {
  margin-top: 0;
  font-size: 1.5em;
  height: 40px;
}

.landingIntro form {
  display: flex;
  align-items: center;
}

.landingIntro form button {
  border: none;
  height: 30px;
}

.landingIntro form .form-control {
  width: 250px;
}