.landingIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.landingIntro h3 {
  font-size: 2em;
}

.landingIntro label {
  font-size: 1.4em;
}

.landingIntro input {
  font-size: 1.8em;
  padding: 8px;
}

.landingIntro button {
  margin-top: 0;
  font-size: 1.5em;
  height: 40px;
}

.landingIntro .searchBar {
  display: flex;
  align-items: center;
}
