.home-wrapper {
  width: 100%;
}

.home-wrapper .home-main {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  background: #ebe9e9;
}

.home-wrapper .home-main .sidebar {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-wrapper .home-main .sidebar li {
  list-style: none;
}

.home-wrapper .home-main .sidebar .podcast-thumbnail {
  margin-bottom: 20px;
}

.home-wrapper .home-main .sidebar .podcast-thumbnail img {
  height: 80px;
  width: 80px;
}

.home-wrapper .home-main .feed {
  width: 600px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper .home-main .feed li {
  list-style: none;
}