.log-in-wrapper {
  width: 100%;
}

.log-in {
  width: 100%;
  display: flex;
  justify-content: center;
}

.log-in form {
  margin-top: 100px;
}

.log-in h2 {
  font-size: 2.3em;
  margin-bottom: 20px;
  text-align: center;
}

.log-in label {
  font-size: 1.7em;
}

.log-in .form-control {
  font-size: 2em;
  padding: 5px;
}

.log-in .form-field {
  margin-bottom: 20px;
}

.log-in button {
  font-size: 1.5em;
  width: 312px;
  padding: 10px 0;
  background-color: yellowgreen;
}