.logIn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logIn form {
  margin-top: 100px;
}

.logIn h2 {
  font-size: 2.3em;
  margin-bottom: 20px;
  text-align: center;
}

.logIn label {
  font-size: 1.7em;
}

.logIn .form-control {
  font-size: 2em;
  padding: 5px;
}

.logIn .form-field {
  margin-bottom: 20px;
}

.logIn button {
  font-size: 1.5em;
  width: 312px;
  padding: 10px 0;
  background-color: yellowgreen;
}