.podcast-homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast-homepage {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.podcast-homepage .podcast-box {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.podcast-homepage .podcast-box button {
  background-color: #9ACD32;
  color: #fff;
}

.podcast-homepage .podcast-box .title img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.results-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-search {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-top: 60px;
}

.title-search .episode-searchbar {
  display: flex;
  align-items: center;
}

.title-search .episode-searchbar h2 {
  margin-right: 10px;
}

.title-search .episode-searchbar form {
  display: flex;
}

.title-search .episode-searchbar form input {
  font-size: 1.5em;
  padding: 4px;
}

.title-search .episode-searchbar form button {
  background: #ebe9e9;
  border: none;
}

.results-box {
  width: 100%;
}

.results-box .list-container {
  width: 100%;
}

.results-box .list-container .list-group {
  padding: 0;
}

.results-box .list-container .list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-box .list-container .list-group .episode-card-wrapper {
  margin-bottom: 30px;
  width: 70%;
}