.podcast-homepage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.podcast-homepage .podcast-box {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.podcast-homepage .podcast-box button {
  background-color: #9ACD32;
  color: #fff;
}

.podcast-homepage .podcast-box .title img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.results-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.results-box .title-search {
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.results-box .title-search .episode-search {
  display: flex;
  align-items: center;
}

.results-box .title-search .searchBar {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.results-box .title-search .searchBar input {
  padding: 5px;
  width: 200px;
  margin-left: 8px;
}

.results-box .title-search .searchBar button {
  padding: 5px 10px;
}

.episode-searchbar{
  margin-top: 20px;
  margin-left: 70%;
  margin-bottom: none;
}
